body{
    background-color: rgb(238, 16, 0);
}
footer{
background-color:aqua;
color:black;
position: fixed;
bottom: 0;
width: 100%;
}
 footer p {
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem
 
}
#container{
    display: flex;

}
.cartao{
    margin: 1rem 1rem;
    background-color:black;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
    
}
.cartao_conteudo{
    text-align: center;
    background-color:chartreuse;
}
.cartao_conteudo h3{
    background-color:aqua;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    font-size: 1vw;
}